.span9{
	height:600px;
}
.span3{
	height: 600px;
}
.span6{
	height: 550px;
}
.accordion-inner{
	padding:15px 10px 120px;
}
.popover{
	width:130px;
	height:130px;
	z-index:1500;
}

img {
  max-width: none;
}
